body {
    font-family: 'Sofadi One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #504e4e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column; /* Mejor disposición en móviles */
}

.side-image {
    width: 100%; /* Ajuste completo en móviles */
}

.side-image img {
    width: 100%;
    height: auto;
}

.menu-container {
    width: 100%; /* Se adapta al ancho del dispositivo móvil */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.menu-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #292626;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px; /* Reducción de tamaño de texto */
    font-weight: bold;
    font-family: 'Sofadi One', sans-serif;
}

.menu-btn:hover {
    background-color: #7d2424;
}

.menu-content {
    display: none;
    background-color: #654a4a;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 3px solid #4a3838;
    color: rgb(226, 219, 219);
    border-radius: 10px;
    font-size: 14px; /* Reducción de tamaño de letra */
    font-family: 'Verdana', sans-serif;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content li {
    padding: 4px 0;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .menu-btn {
        font-size: 18px; /* Tamaño más pequeño para móviles */
        padding: 8px;
    }

    .menu-content {
        font-size: 12px; /* Ajuste de contenido en móviles */
    }
    
    .menu-container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .menu-btn {
        font-size: 16px; /* Aún más pequeño para pantallas de teléfonos */
        padding: 6px;
    }

    .menu-content {
        font-size: 10px; /* Tamaño de contenido reducido */
    }
    
    .menu-container {
        padding: 8px;
    }
}
